.product-card {
    width: 200px;
    text-align: center;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
}

.slider {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.slider::-webkit-scrollbar {
    display: none;
}

.product-card {
    scroll-snap-align: start;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    float: left;
    margin-right: 20px;
}

.search-form {
    float: left;
}

.action-buttons {
    float: right;
}

.action-buttons a {
    margin-left: 10px;
    text-decoration: none;
}

.search-container {
    display: flex;
}

.search-bar {
    flex-grow: 1; /* Mengisi seluruh ruang yang tersisa */
    font-size: 16px;
    padding: 10px;
}

/* New CSS styles */
.image-text-container {
    position: relative;
}

.image-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the text */
    color: white; /* Adjust text color for visibility */
    font-size: 2em; /* Adjust font size as needed */
    text-shadow: 0 0 3px black; /* Optional text shadow for contrast */
}
